.task-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: grey;
  padding: 2vh;
  border-radius: 10px;
  text-transform: capitalize;
  width: 20vw;
  height: auto;
}

.task-card_title {
  margin: 1vh;
}

.task-card_buttons {
  display: flex;
  gap: 1vh;
}

.task-card_arrow {
  cursor: pointer;
  margin: 2vh 0 0 0;
}
