.completed-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.completed-container h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #b7210d;
}

.completed-container p {
  width: 60%;
  text-align: center;
}

.completed-container img {
  width: 30vh;
  margin-bottom: 6vh;
}
