.task-selector {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5vh;
}

.task-selector_form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-container {
  display: flex;
  margin: auto;
  justify-content: center;
}
