.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5vh;
}

.profile-container img {
  height: 300px;
}

.profile-container_list {
  display: flex;
  gap: 6vw;
}

.create-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1vh;
  margin-top: 5vh;
}

.create-container h1 {
  font-family: Montserrat;
  font-weight: 400;
  color: #b7210d;
}

.create-container section {
  width: 50%;
  text-align: center;
  font-size: 0.9rem;
}

.create-container_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3vh;
  margin-top: 2vh;
  background-color: #fefefe7a;
  padding: 4vh;
  border-radius: 35px;
}

.create-container_form label {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create-container_form input[type='radio'] {
  display: none;
}

.create-container img {
  width: 200px;
}

.create-container p {
  margin: 0;
  width: 60%;
  text-align: center;
}

.create-container_bold {
  font-weight: bold;
}

.create-container_bears {
  display: flex;
  gap: 4vw;
}

.profile-tasks_item {
  display: flex;
}

.profile-tasks_item p {
  margin: 0;
}

input[type='radio']:checked + img {
  filter: drop-shadow(5px 5px 5px rgb(50, 52, 51));
}

.profile-container_list {
  background-color: #fdfffc98;
  padding: 50px;
  border-radius: 50px;
  align-items: center;
}

.profile-container_bear {
  width: 200px;
}

.profile-container_desc {
  width: 50vw;
  margin-bottom: 20px;
  text-align: center;
}

.profile-container h1 {
  font-family: 'Montserrat', sans-serif;
  color: #b7210d;
}
