.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2vh;
  margin: 8vh;
}

.home-container h3 {
  margin: 0;
}

.home-container_links {
  display: flex;
  gap: 1vw;
}
