.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2vh;
  margin: 8vh;
  text-align: center;
}

.home-container h3 {
  margin: 0;
  width: 60%;
}

.home-container_image {
  height: 30vh;
}

.home-container_links {
  display: flex;
  gap: 1vw;
}
