/*
  Example of using Tailwind classes in a CSS file:
*/
/* body {
  @apply bg-slate-800;
} */

body {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
}

.App {
  display: flex;
  margin: auto;
  justify-content: center;
}
