header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fefefe7a;
  padding: 2vh 30vh;
}

header img {
  width: 10vw;
  margin-bottom: 1.5vh;
}

.header-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header a {
  margin-right: 4vw;
}

header span {
  font-size: 0.8rem;
}
