header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fefefe7a;
  padding: 2vh 25vh;
}

header img {
  width: 8vw;
  margin-bottom: 10px;
}

.header-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header a {
  margin-right: 30px;
}
